// Body
$body-bg: #1b1b1b;
$body-bg-darker: #0c0c0c;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-on-dark: #f2f2f2;

// Colors
$blue: #7bc4ff;
$blue-darker: #0468b9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ad1914;
$orange: #f6993f;
$orange-darker: #fe4e01;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
