@font-face {
    font-family: 'adventureregular';
    src: url('/fonts/adventure-webfont.woff2') format('woff2'),
         url('/fonts/adventure-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andika_new_basicbold';
    src: url('/fonts/andikanewbasic-b-webfont.woff2') format('woff2'),
         url('/fonts/andikanewbasic-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andika_new_basicbold_italic';
    src: url('/fonts/andikanewbasic-bi-webfont.woff2') format('woff2'),
         url('/fonts/andikanewbasic-bi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andika_new_basicitalic';
    src: url('/fonts/andikanewbasic-i-webfont.woff2') format('woff2'),
         url('/fonts/andikanewbasic-i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andika';
    src: url('/fonts/andikanewbasic-r-webfont.woff2') format('woff2'),
         url('/fonts/andikanewbasic-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}