.navbar-link{
    margin: 0 15px;
    color: white;
    font-family: 'adventureregular', sans-serif;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
}
.genre-toggle{
    background: $body-bg-brighter;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    .navbar-link{
        font-size: 1.7em;
    }
}
.navbar-link.router-link-exact-active{
    color: $red;
}
.navbar-link:hover{
    color: $red;
}

.comix-navbar.genres-expanded{
    .navbar-link:nth-child(1)::after{
        border-bottom: 13px solid $body-bg-brighter;
    }
}
.navbar-container{
    margin-bottom: 5rem;
}
.comix-navbar{
    display: flex;
    width: 100%;
    padding: 20px 0 10px 0;
    justify-content: space-between;

    .navbar-link:nth-child(1){
        margin-left: 60px;
        position: relative;
    }
    .navbar-link:nth-child(1)::after{
        content: "";
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .35s ease-in-out;
    }

    .logo-container, .navbar-links{
        display: flex;
        align-items: flex-end;
    }



                
}
#search-input{
    background: none;
    color: $text-on-dark;
    border: none;
    border-bottom: 2px solid $red;
    padding: 8px 15px;
    margin: 0;
}
.navbar-search{
    *{
        vertical-align: bottom;
    }
    
    button{
        border: none;
        font-size: 1.2em;
        background: none;
        color: $red;
        .search-icon::before{
            font-weight: bold!important;
            font-size: 1.2em;
        }
    }
}
#search-input::placeholder{
    color: $text-on-dark;
    opacity: .6;
}
#search-input:focus-visible{
    outline:none;
}

.comix-navbar-toggle{
    width: 100vw;
    position: fixed;
    font-size: 2em;
    z-index: 99999;
    background-color: $body-bg;
    top: 0;
    button{
        border: none;
        background: none;
        color: white;
    }
    
}

.mobile-comix-logo .comix-logo{
    font-size: 1em!important;
}

.mobile-comix-logo{
    margin-top: 10px;
}

@media screen and (max-width: 991px) {
    .comix-navbar{
        background-color: $text-on-dark;
        color: $body-bg;
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 9999;
        top: 0;
    }

    .comix-navbar-toggle .container{
        display: flex;
        justify-content: space-between;
        background-color: $body-bg;
        padding: 0 15px;
    }

    .comix-navbar-toggle{
        padding-bottom: 15px;
        box-shadow: 0px 5px 15px 5px #000000;
    }
    
    .comix-navbar.active{
        display: block;
        .comix-navbar-nav{
        margin: 8px;
        
        }
    }

    .mobile-nav-links *{
        font-size: 1em;
    }

    .navbar-link{
        margin: 0;
    }

    .mobile-genre-container{
        margin-left: 15px;
        .navbar-link{
            display: block;
            font-size: .8em;
        }
    }

    #search-input{
        font-size: .5em;
    }


  }

@media screen and (min-width: 992px){
    .comix-navbar-toggle{
        display: none;
    }
}