.navbar-link{
    margin: 0 15px;
    color: white;
    font-family: 'adventureregular', sans-serif;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
}
.genre-toggle{
    .navbar-link{
        font-size: 1.7em;
    }
}
.navbar-link.router-link-exact-active{
    color: $red;
}
.navbar-link:hover{
    color: $red;
}

.comix-navbar.genres-expanded{
    .navbar-link:nth-child(1)::after{
        border-bottom: 13px solid $body-bg-brighter;
    }
}
.navbar-container{
    margin-bottom: 5rem;
}
.comix-navbar{
    display: flex;
    width: 100%;
    padding: 20px 0 10px 0;
    justify-content: space-between;

    .navbar-link:nth-child(1){
        margin-left: 60px;
        position: relative;
    }
    .navbar-link:nth-child(1)::after{
        content: "";
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .35s ease-in-out;
    }

    .logo-container, .navbar-links{
        display: flex;
        align-items: flex-end;
    }

    #search-input{
        background: none;
        color: $text-on-dark;
        border: none;
        border-bottom: 2px solid $red;
        padding: 8px 15px;
        margin: 0;
    }
    .navbar-search{
        *{
            vertical-align: bottom;
        }
        
        button{
            border: none;
            font-size: 1.2em;
            background: none;
            color: $red;
            .search-icon::before{
                font-weight: bold!important;
                font-size: 1.2em;
            }
        }
    }

                
}
#search-input::placeholder{
    color: $text-on-dark;
    opacity: .6;
}
#search-input:focus-visible{
    outline:none;
}

.comix-navbar-toggle{
    position: fixed;
    top: 25px;
    right: 10px;
    font-size: 2em;
    z-index: 99999;
    button{
        border: none;
        background: none;
        color: white;
    }
    :active{
        transform: scale(.95);
        transform-origin: center;
    }
}
.comix-navbar-toggle-inverted{
    color: $body-bg!important;
}

.genre-toggle{
    background: $body-bg-brighter;
    padding: 5px 0;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .comix-navbar{
        background-color: $text-on-dark;
        color: $body-bg;
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 9999;
        top: 0;
        #search-input{
            background-color: white;
            color: $body-bg;
        }
        .navbar-search{
            button{
                background-color: $body-bg;
                color: $text-on-dark;
            }
        }
    }
    #search-input::placeholder{
        color: $body-bg;
        opacity: .8;
    }
    .comix-navbar.active{
        display: block;
        .comix-navbar-nav{
        margin: 8px;
        display: flex;
        flex-flow: wrap;
            div:nth-child(1){
                order: 1;
            }
            div:nth-child(2){
                order: 3;
                width: 100%;
            }
            div:nth-child(3){
                order: 2;
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                padding-right: 40px;
            }
        }
    }
  }

@media screen and (min-width: 992px){
    .comix-navbar-toggle{
        display: none;
    }
}